.container {
  background-image: url(/yuckpaper.avif);
  background-size: cover;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.holy {
  backgroud-color: silver;
  text-shadow: #FC0 1px 0 10px;
  color: white;
  font-family: Ariel, sans, serif, sans-serif, cursive, fantasy;
  position: relative;
   top: -38px;
  font-size: 36px;
  margin-bottom: 35px;
  padding-left: 5px;
  tex-align: left;
}
.main {
  background-image: url(/yuckpaper.avif);
  background-size: cover;
  position:relative;
  top: 10px;
}
.title {
  position: relative;
  top: -90px;
  margin-top: 0;
  font-family: Ariel, sans, , serif, sans-serif, cursive, fantasy;
  text-shadow: #FC0 1px 0 10px;
  color: white;
  font-size: 64px;
  padding-left: 5px;
  margin-bottom: 4.4rem;
  tex-align: left;
}
.hero {
  position:relative;
  top: -170px;
  backgroud-color:  #800080;
}
.transcribed {
   color: white;
   position: relative;
   top: -160px;
   padding-left: 8px;
   font-size: 12px;
}
.new {
  position: relative;
  top: -15px;
  text-align: center;
  background-color: black;
  color: white;
  font-weight: 900;
  padding: 20px;
}
.index  {
  background-image: url(/yuckpaper.avif);
  background-size: cover;
  position: relative;
   top: -25px;
  display: grid;
  grid-gaps: 10px;
  justify-content: space-around;
  background-color: transparent;
  list-style-type: none;
}
.li {
  backgroud-color:  #800080;
  margin-left: -38px;
  text-align: center;
  width:100vw;
  grid-gaps: 10px;
  border: 1px solid grey;
  color: white; 
  text-shadow: 	#FFBF00 1px 0 10px;
  padding: 10px;
  padding-left: 100px;
  line-height:1.5;
}
.li:hover,
.li:focus,
.li:active {
  border: 2px solid black;
  background-color: grey;
  cursor:pointer;
}
.footer {
  display: grid;
}
.items {
  padding-left: 30px;
  align-items: center;
  justify-content: space-around;
  grid-template-columns: 2fr 2fr;
}
.aside {
  display: grid;
  algin-items: center;
  justify-content: center;
  text-shadow: #FC0 1px 0 10px;
  color: white;
}
.testimony {
  text-align: center;
  margin-bottom: 30px;
}
.paragraph {
  padding-left: 30px;
  padding-right: 30px;
}

